<!--Footer-->
<footer class="mdl-mini-footer" id="bottom" style="display:none;position: absolute;top:100%">
    <% if(theme.scheme === 'Paradox') { %>
        <!-- Paradox Footer Left Section -->
        <%- partial('_partial/footer-left') %>

        <!--Copyright-->
        <div id="copyright">
            Copyright&nbsp;©<% if(theme.copyright_since) { %>&nbsp;<%= theme.copyright_since %>&nbsp;-<% } %><script type="text/javascript">var fd = new Date();document.write("&nbsp;" + fd.getFullYear() + "&nbsp;");</script><%- config.title %>
            <% if(theme.footer_text) { %>
                <br>
                <% if(Array.isArray(theme.footer_text)) { %>
                    <%- theme.footer_text.join('<br>') %>
                <% } else { %>
                    <%- theme.footer_text %>
                <% } %>
            <% } %>

          <span id='host'>
            <br>Hosted by <a href="https://pages.coding.me" style="font-weight: bold;color:#9e9e9e;">Coding Pages</a> | <a href="https://pages.github.com/" style="font-weight: bold;color:#9e9e9e;">Github Pages</a>
          </span>
        </div>
        <!-- Paradox Footer Right Section -->

        <!--
        I am glad you use this theme, the development is no so easy, I hope you can keep the copyright.
        It will not impact the appearance and can give developers a lot of support :)

        很高兴您使用该主题，开发不易，希望您可以保留一下版权声明。
        它不会影响美观并可以给开发者很大的支持。 :)
        -->

        <div class="mdl-mini-footer--right-section">
            <div>
                <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a></div>
                <div class="footer-develop-div">Theme - <a href="https://github.com/viosey/hexo-theme-material" target="_blank" class="footer-develop-a">Material</a></div>
            </div>
        </div>
    <% } %>
</footer>
